<h1>Menú Session</h1>

<h1 style="color:blue">
    @ViewData["NUMERO"]
</h1>

<a asp-controller="EjemploSession"
 asp-action="SessionSimple">
    Session simple
</a> | 
<a asp-controller="EjemploSession"
    asp-action="SessionPersona">
    Session Persona
</a>
|
<a asp-controller="EjemploSession"
   asp-action="ColeccionSessionPersonas">
    Coleccion Personas
</a>
|
<a asp-controller="EjemploSession"
   asp-action="SessionPersonaJson">
    Session Persona Json
</a>
