@{
    Persona persona = ViewData["PERSONA"] as Persona;
}

<h1 style="color:blue">Session Persona JSON</h1>

<a asp-controller="EjemploSession"
   asp-action="SessionPersonaJson"
   asp-route-accion="almacenar">
    Almacenar persona JSON
</a> |
<a asp-controller="EjemploSession"
   asp-action="SessionPersonaJson"
   asp-route-accion="mostrar">
    Mostrar persona JSON
</a>
@if (persona != null)
{
    <h1 style="color:blue">
        Datos personales: @persona.Nombre, @persona.Email
    </h1>
    <h2 style="color:red">
        Edad: @persona.Edad
    </h2>
}