@{
    Persona persona = ViewData["PERSONA"] as Persona;
}

<h1>Session Persona</h1>

<a asp-controller="EjemploSession"
    asp-action="SessionPersona"
    asp-route-accion="almacenar">
    Almacenar persona
</a> | 
<a asp-controller="EjemploSession"
    asp-action="SessionPersona"
    asp-route-accion="mostrar">
    Mostrar persona
</a>

|
<a asp-controller="EjemploSession"
   asp-action="ColeccionSessionPersonas"
   >
    Coleccion Personas
</a>
@if (persona != null)
{
    <h1 style="color:blue">
        Datos personales: @persona.Nombre, @persona.Email
    </h1>
    <h2 style="color:red">
        Edad: @persona.Edad
    </h2>
}



